@layer recipes {
  .button--variant_primary {
    background: var(--colors-accent-default);
    color: var(--colors-accent-fg);
    }
    .button--variant_primary:is(:disabled, [disabled], [data-disabled]) {
      background: var(--colors-bg-disabled);
      cursor: not-allowed;
        }
    .button--variant_primary:is(:focus-visible, [data-focus-visible]) {
      outline-offset: 2px;
      outline: 2px solid;
      outline-color: var(--colors-border-accent);
        }
    .button--variant_primary:is(:hover, [data-hover]) {
      background: var(--colors-accent-emphasized);
        }
    .button--variant_primary:is(:disabled, [disabled], [data-disabled]):is(:hover, [data-hover]) {
      background: var(--colors-bg-disabled);
        }

  .button--size_md {
    height: var(--sizes-12);
    min-width: var(--sizes-12);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
    padding-inline: var(--spacing-4);
    gap: var(--spacing-2);
    }
    .button--size_md svg {
      width: var(--sizes-5);
      height: var(--sizes-5);
        }

  @layer _base {
    .button {
      align-items: center;
      appearance: none;
      -webkit-appearance: none;
      border-radius: var(--radii-l2);
      cursor: pointer;
      display: inline-flex;
      font-weight: var(--font-weights-semibold);
      min-width: var(--sizes-0);
      justify-content: center;
      outline: var(--borders-none);
      position: relative;
      --transition-duration: var(--durations-normal);
      transition-duration: var(--durations-normal);
      --transition-prop: background, border-color, color, box-shadow;
      transition-property: background, border-color, color, box-shadow;
      --transition-easing: var(--easings-default);
      transition-timing-function: var(--easings-default);
      -webkit-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
        }
    }
}